<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
	<head>
	</head>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<style>
	body {
		font-family: 'Roboto', sans-serif;
	}
	</style>
	<body class="container">
	<main>
		<div>
			<center><h1 class="title">Palm Vein Door Unlocker</h1>
			<img width="400" height="400" src="images/pic.jpg">
			<img height="400" src="images/arrow.png">
			<img width="400" height="400" src="images/thr.jpg">
			<br><br>
			<p style="font-size:35px; display: inline-block"><%= label %></p>
			<img style="display:inline-block" width="100" src="images/<%= auth %>.png"> </center>
		</div>
	</main>

	</body>
</html>
